<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/course.css" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../index.html"
          ><img src="../images/kadir-round.png" width="50px" height="50px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="project.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="course.html">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cv.html">CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reference.html">References</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="mainCoantiner">
      <!--dust particel-->
      <div class="margin-body">
        <div>
          <div class="starsec"></div>
          <div class="starthird"></div>
          <div class="starfourth"></div>
          <div class="starfifth"></div>
        </div>
        <!--Dust particle end--->

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wpb_text_column wpb_content_element">
              <div class="wpb_wrapper">
                <div class="title-h1 text-center">
                  <span><span class="light">My </span> Projects</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 pricing-column-wrapper">
            <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <img
                    src="../images/credit.jpg"
                    alt=""
                    class="img-responsive"
                    style="width: 300px; height: 200px; border-radius: 50%"
                  />
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">Credit Card Fraud Detection</div>
              </div>
              <figure class="pricing-row">
                Fraud detection out of 284,807 transactions with high accuracy.
              </figure>
              <figure class="pricing-row">
                <span
                  >The dataset is highly unbalanced, the positive class (frauds)
                  account for 0.172% of all transactions.</span
                >
              </figure>
              <figure class="pricing-row">
                Dimensionality of the data is reduced for protecting the privacy
                of the users.
              </figure>
              <figure class="pricing-row">
                Implementing different machine learning models in a comparative
                fashion.
              </figure>
              <figure class="pricing-row">
                Building an Evaluation Matrix and different performance measure
                tools on Test Set
              </figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a href="https://github.com/turgutguvenc/Credit-Card-Fraud-Detection" class="gem-button gem-green">See Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pricing-column-wrapper">
            <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <img
                    src="../images/face.jpg"
                    alt=""
                    class="img-responsive"
                    style="width: 300px; height: 200px; border-radius: 50%"
                  />
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title" style="padding-bottom:1.5rem">
                  Face Detection
                </div>
              </div>
              <figure class="pricing-row">
                Creating a website that uses a machine learning model
               that classifies people's images.
              </figure>
              <figure class="pricing-row">
                <span style="color: #5f727f"
                  >This can classify images when images are uploaded to the
                  website.</span
                >
              </figure>
              <figure class="pricing-row">
                <span style="color: #5f727f"></span>
                  Data collecting and preprocessing is a very crucial step of
                  the process.</span
                >
              </figure>
              <figure class="pricing-row">Real Case Implementation of Convolutional Neural Networks.</figure>
              <figure class="pricing-row">Using differnet model evaluation tools and libraries and deployment of the model in a real dataset.</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a href="https://github.com/turgutguvenc/Face-Detection" class="gem-button gem-purpel">See Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pricing-column-wrapper">
            <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <img
                  src="../images/realestate.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">
                  Real Estate Price Prediction
                </div>
              </div>
              <figure class="pricing-row">
                I have developed a machine learning model with a python flask server that predicts real estate prices according to their features.
              </figure>
              <figure class="pricing-row">
                <span>Model allows user to enter home square ft area, bedrooms, etc and then retrieve the predicted price with very high accuracy.</span>
              </figure>
              <figure class="pricing-row">
                <span style="color: #5f727f">This model can be adoptable to any kind of data that needs price predictions like car price, house price, item price, etc.</span>
              </figure>
              <figure class="pricing-row">Different regression algorithms of machine leanring models is used in order to get the highest accuracy.</figure>
              
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a href="https://github.com/turgutguvenc/House-Price-Prediction-in-Kaggle-Competition" class="gem-button gem-orange">See Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pricing-column-wrapper">
            <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <img
                  src="../images/segmentation.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">
                  Customer Segmentation
                </div>
              </div>
              <figure class="pricing-row">
                This project uses unsupervised machine learning algorithms to perform customer market segmentation.
              </figure>
              <figure class="pricing-row">
                <span style="color: #5f727f">The project can enable companies to launch targeted ad marketing campaigns that are tailored to customer's specific needs.</span>
              </figure>
              <figure class="pricing-row">
                <span style="color: #5f727f">Implemeting different segmentation strategies based on geographic, demographic, behavioral,psychological parameters.  </span>
              </figure>
              <figure class="pricing-row">
                The project can enable companies to develop optimization in budgeting, product design, promotion, marketing , and customer satisfaction.
              </figure>
           
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a href="https://github.com/turgutguvenc/Rule-Based-Classification" class="gem-button gem-yellow">See Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="margin-body">
      <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
      </div>
      <!--Dust particle end--->

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center">
            
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../images/traffic_sign.jpg"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">Traffic Sign Detection</div>
            </div>
            <figure class="pricing-row">
              This project uses Convolutional Neural Networks (CNNs) to classify different traffic signs.

            </figure>
            <figure class="pricing-row">
              <span
                > This model can classify 43 traffic sign images with a very accuracy and can be practically applied to self-driving cars.
                </span
              >
            </figure>
            <figure class="pricing-row">
              Testing different filter sizes, depth, and number of convolution layers, as well as the dimensions of fully connected layers.
            </figure>
            <figure class="pricing-row">
              Using augmentation techniques in an attempt to extend dataset and provide additional pictures in different lighting settings and orientations.
            </figure>
            <figure class="pricing-row">
              Deploying Highly configurable code and developing a flexible way of evaluating multiple architectures. 
            </figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a href="https://github.com/turgutguvenc/Traffic-Sign-Detection" class="gem-button gem-green">See Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                  src="../images/personalwebsite.png"
                  alt=""
                  class="img-responsive"
                  style="width: 300px; height: 200px; border-radius: 50%"
                />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">
                My Personal Portfolio Website
              </div>
            </div>
            <figure class="pricing-row">
              I have developed and developed a personal and interactive portfolio website on my own that can be reached anywhere in the world.
            </figure>
            <figure class="pricing-row">
              <span style="color: #5f727f"
                >This website is a fully fledged website that I developed by using both frontend and backend codes.</span
              >
            </figure>
            <figure class="pricing-row">
              <span style="color: #5f727f"></span>
                This website has a python flask server that serves different pages. The websites contains homepage, cv page, project page, reference page, and course page.</span
              >
            </figure>
            <figure class="pricing-row">The website uses bootstrap and professional css Implementation.</figure>
            <figure class="pricing-row">In addition to data science skills, I can develope fully fledged websites by using HTML, css, javascript, flask, bootstrap, etc.</figure>
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a href="https://github.com/turgutguvenc/turgutguvenc_portfolio_website" class="gem-button gem-purpel">See Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                src="../images/churn1.PNG"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">
                Customer Churn Prediction
              </div>
            </div>
            <figure class="pricing-row">
              I have developed a machine learning model by using different machine learning algorithms that can predict which customers are at high risk of churn with a very accuracy.
            </figure>
            <figure class="pricing-row">
              <span>Model allows companies to detect both loyal and churn customers in a predictive way so that companies can develop a holistic view of the customers and their interactions across numerous channels.</span>
            </figure>
            <figure class="pricing-row">
              <span style="color: #5f727f">This model can be adoptable to any kind of busines problem related to customer loyalty or churn.</span>
            </figure>
            <figure class="pricing-row">Different classification algorithms of machine leanring models is used in order to get the highest accuracy.</figure>
            
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a href="https://github.com/turgutguvenc/Customer-Churn-Prediction" class="gem-button gem-orange">See Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 pricing-column-wrapper">
          <div class="pricing-column">
            <div class="pricing-price-row">
              <div class="pricing-price-wrapper">
                <img
                src="../images/chatbot.jpg"
                alt=""
                class="img-responsive"
                style="width: 300px; height: 200px; border-radius: 50%"
              />
              </div>
            </div>
            <div class="pricing-row-title">
              <div class="pricing_row_title">
                Chatbot
              </div>
            </div>
            <figure class="pricing-row">
              This chatbot can conduct an online chat conversation via text or text-to-speech by using NLTK, Tensorflow and NLP.
            </figure>
            <figure class="pricing-row">
              <span style="color: #5f727f">The chatbot automates most of the customer interaction by answering some of the frequent questions that are asked by the customers.</span>
            </figure>
            <figure class="pricing-row">
              <span style="color: #5f727f">The chatbot can be applicable to any kind of business domain.  </span>
            </figure>
            <figure class="pricing-row">
              I use a special recurrent neural network (LSTM) to classify which category the user’s message belongs to and then we will give a random response from the list of responses.
            </figure>
            <figure class="pricing-row">
              The chabot can be deployed to a website or an app.
            </figure>
         
            <div class="pricing-footer">
              <div class="gem-button-container gem-button-position-center">
                <a href="https://github.com/turgutguvenc/Chatbot" class="gem-button gem-yellow">See Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bottom-container">
     <a class="footer-link" href="https://www.linkedin.com/in/turgut-ozal-guvenc/">LinkedIn</a>
            <a class="footer-link" href="https://github.com/turgutguvenc">Github</a>
            <a class="footer-link" href="https://www.kaggle.com/turgutguvenc">Kaggle</a>
            <p class="footer-copy">© 2022 Turgut Ozal Guvenc.</p>
    </div>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/08f3a01af2.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="" async defer></script>
  </body>
</html>
